html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.about-main{
    background-image: url('https://img.collegedekhocdn.com/media/img/institute/crawled_images/dl1.jpg?tr=h-400,w-650');
    padding-top: 1%;
    padding-bottom: 1.5%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

.about-main h1{
    text-align: center;
    margin-top: 1%;
    font-family: 'Lobster', cursive;
    color: #3E89B4;
}
.about-main h3{
    text-align: center;
    margin-top: 4%;
    font-family: 'Courgette', cursive;
    color: rgb(229, 143, 200);

}
.r1{
    padding: 2% 5% 5%;
}
.instruct-puzzle{
    padding: 1% 5%;
}
.select-card{
    border-radius: 2rem;
    text-align: center;
    font-family: 'Kalam';
    font-weight: 700;
    color: rgb(62, 137, 180);
    margin: 1% 22%;
    font-size: 1.3rem;
    box-shadow: 3px 7px #888888;
}
.select-card:hover{
    background-color: rgb(128, 245, 253);
}

.puzzle-card{
    overflow: hidden;
    height: 400px;
    background-color: rgb(253,113,175);
    border-radius: 0.8rem;
    width: 320px;
    box-shadow: 3px 3px 3px 3px #888888;
}
.h-300{
    min-height: 300px;
    width: 100%;
    background-size: cover;
    background-color: seashell;
    border-radius: 8px;
    background-position: center;
    background-repeat: no-repeat;
}
.image-area{
    padding: 0%;
    margin: 0%;
}
.image-area img  {
    overflow: hidden;
    width: 100%;
    height: 320px;
    object-fit:fill;
}
